{% extends 'home/layout.html' %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('home.home')}}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">AWS Access Key</li>
    </ol>
</nav>
{% if accesskey_len == 0 %}
    <div class="alert alert-dark" role="alert">
       AWS Access Key not found in your database!!
    </div>
    <a class="btn btn-success btn-sm rounded-0 float-right" href="{{url_for('access_key.add_accesskey')}}" role="button">Add AWS Access Key</a>
{% else %}
<div class="card-header">AWS Access Key
    <a class="btn btn-success btn-sm rounded-0 float-right" href="{{url_for('access_key.add_accesskey')}}" role="button">Add AWS Access Key</a>
</div>
<table class="table table-bordered table-hover table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Key Name</th>
            <th scope="col">Access Key Id</th>
            <th scope="col">Created On</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in accesskey_record.items %}
        <tr>
            <td>{{i.keyname}}</td>
            <td>{{i.accesskeyid}}</td>
            <td>{{i.date_created.strftime('%d-%m-%Y')}}</td>
            <td><a href="#"><i class="fas text-danger fa-trash-alt"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="rounded-0">
    {% for page_num in accesskey_record.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {% if page_num %}
            {% if accesskey_record.page == page_num %}
                  <a class="btn btn-primary btn-sm mt-2" href="{{ url_for('access_key.access_key_dashboard',page=page_num)}}">{{ page_num }}</a>
            {% else %}
                  <a class="btn btn-outline-info mt-2" href="{{ url_for('access_key.access_key_dashboard',page=page_num)}}">{{ page_num }}</a>
            {% endif %}  
          {% else %}
            ...
          {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock content %}